BIGDATA_IA/MIA_DAVID/Modelos[[:space:]]de[[:space:]]IA/libros/Grokking[[:space:]]Artificial[[:space:]]Intelligence[[:space:]]Algorithms[[:space:]](Rishal[[:space:]]Hurbans).pdf filter=lfs diff=lfs merge=lfs -text
BIGDATA_IA/MIA_DAVID/Modelos[[:space:]]de[[:space:]]IA/libros/Artificial[[:space:]]Intelligence[[:space:]]A[[:space:]]Modern[[:space:]]Approach,[[:space:]]Global[[:space:]]Edition[[:space:]](Stuart[[:space:]]J.[[:space:]]Russell,[[:space:]]Peter[[:space:]]Norvig)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
